<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="flMySql" connectionString="Data Source=localhost;port=3306;Initial Catalog=folder_lister;User Id=webuser;password=Password01" />
  </connectionStrings>
</configuration>